name: Deploy static PWA to Azure Web App - pwa-practica9-sd

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Zip artifact
        run: zip -r site.zip .

      - name: Deploy to Azure Web App (Linux)
        uses: azure/webapps-deploy@v2
        with:
          app-name: "pwa-practica9-sd"
          slot-name: "Production"
          package: "site.zip"
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}
